/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a[b-w33qwxqxyz] {
  color: #0077cc;
}

.btn-primary[b-w33qwxqxyz] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}


.border-top[b-w33qwxqxyz] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-w33qwxqxyz] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-w33qwxqxyz] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-w33qwxqxyz] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-w33qwxqxyz] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
body[b-w33qwxqxyz] {margin:0;}

.icon-bar[b-w33qwxqxyz] {
  width: 100%;
  background-color: #555;
  overflow: auto;
}

.icon-bar a[b-w33qwxqxyz] {
  float: left;
  width: 20%;
  text-align: center;
  padding: 12px 0;
  transition: all 0.3s ease;
  color: white;
  font-size: 26px;
}

.icon-bar a:hover[b-w33qwxqxyz] {
  background-color: rgb(229, 229, 229);
}

.active[b-w33qwxqxyz] {
  background-color: rgb(0, 112, 173);
}