html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}


.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 100px;
}
.wrapper{
  position: relative;
  
  width: 100%;
  background: #fff;
  padding: 34px;
  border-radius: 6px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}
form .input-box select   {
  height: 50%;
  width: 80%;
  outline-width: 10;
  padding: 0 15px;
  font-size: 17px;
  font-weight: 400;
  color: #333;
  border: 1.5px solid #C7BEBE;
  border-bottom-width: 3px;
  border-radius: 10px;
  transition: all 0.3s ease;
}
form .input-box input   {
  height: 50%;
  width: 80%;
  outline-width: 10;
  padding: 0 15px;
  font-size: 17px;
  font-weight: 400;
  color: #333;
  border: 1.5px solid #C7BEBE;
  border-bottom-width: 3px;
  border-radius: 10px;
  transition: all 0.3s ease;
}
form .input-box button{
  margin:5px;
}
form .input-box a{
  margin:5px;
}

form div .input-box {
  height: 100px;
}
.ProjectStatus {
  padding:  15px;
}
.ProjectStatus .activeYes{
  padding:  15px;
}
.scrollable {
  overflow: auto; /* Enables both horizontal and vertical scrolling */
  
  max-height: 600px; /* Optional: Limit vertical height */
  max-width: 100%; /* Optional: Limit horizontal width */
  border: 1px solid #121111; /* Optional: Add a border for clarity */
}

table {
  width: 100%;
  border-collapse: collapse; /* Optional: for border collapse */
}

td {
  border: 1px solid #ddd; /* Optional: add border to cells */
  padding: 10px; /* Optional: adjust padding */
}

.first-cell {
  position: relative; /* Required to position the button at the bottom of the cell */
  height: 100px; /* Set height for the cell */
}

.first-cell .add-btn {
  position: absolute;
  bottom: 10px; /* Position the button at the bottom with some space */
  left: 50%; /* Center the button horizontally */
  transform: translateX(-50%); /* Adjust to center */
  padding: 5px 10px; /* Adjust button size */
  font-size: 16px; /* Icon size */
}
